@import url('https://fonts.googleapis.com/css2?family=Licorice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200;300;400;500&display=swap');

html{
    scroll-behavior: smooth;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #0a0909;
}


p{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.2rem;
}

#titulo_nav{
    font-family: 'Licorice', cursive;
    font-size: 2rem;
    width: 100%;
    color: #1E1D1D;
}

.cambio{
    display: none;
}

.navbar{
    width: 100%;
    display: flex;
    background-color: #F6F6F6;
    position: fixed;
}

.navbar a{
    text-decoration: none;
    color: #1E1D1D;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 500;
    transition: all 0.6s;
}

.navbar a:hover{
    background-color: #1E1D1D;
    color: #F6F6F6;
    letter-spacing: 0.1rem;
    border-radius: 0.4rem;
}

.navbar ul{
    list-style: none;
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;
}

.lista_nav{
    margin: 0.6rem;
}

.menu{
    display: none;
    align-items: center;
}

.icono-ham{
    font-size: 2rem;
    color: #1E1D1D;
}

.label-menu{
    display: none;
    align-items: center;
}

.foto_header{
    width: 100%;
    height: 55%;
    object-fit: cover;
}

#principal{
    text-align: center;
    margin-top: 3rem;
    font-family: 'Bebas Neue', cursive;
    font-size: 2.3rem;
    font-weight: 500;
    color: #F6F6F6;
}

.img_z9{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img_z9 img{
    width: 80rem;
    height: 40rem;
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 5px 5px 10px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 10px 2px rgba(0,0,0,0.75);
    border-radius: 0.6rem;
}

.titulo_z9{
    position: absolute;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 600;
    font-size: 2.3rem;
    color: #F6F6F6;
}

.a_boton{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton_z9{
    display: flex;
    position: absolute;
    margin-top: 13rem;
    width: 13rem;
    height: 2.6rem;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 20px;
    background-color: #DFD128;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.3rem;
    font-weight: 500;
    transition: all 0.6s;
}

.boton_z9:hover{
    cursor: pointer;
    background-color: #F6F6F6;
}

.z9_imagenes{
    margin-top: 3rem;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

#h3_imagenes{
    text-align: center;
    margin-top: 4rem;
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;
    font-weight: 500;
    color: #F6F6F6;
}

.hr_z9{
    height: 0.1rem;
    background-color: #F6F6F6;
}

.z9_imagenes img:nth-child(1){
    margin: 4rem;
}

.z9_imagenes img:nth-child(2){
    margin-left: 35%;
}

.z9_imagenes img:nth-child(3){
    margin-top: 4rem;
    margin-left: 20%;
}

.hr__z9{
    height: 0.1rem;
    background-color: #F6F6F6;
    margin-top: 6rem;
}

.camaras{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.camaras img{
    width: 13rem;
    margin-top: 5rem;
}

.camaras img:nth-child(2){
    margin-left: 4rem;
    margin-right: 4rem;
}

.camaras_nombre{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.camaras_nombre h4{
    font-family: 'Bebas Neue', cursive;
    font-size: 1.5rem;
    font-weight: 500;
    color: #F6F6F6;
    transition: all 0.4s;
}

.camaras_nombre h4:nth-child(2){
    margin-left: 11.5rem;
    margin-right: 11.5rem;
}

.camaras_nombre h4:hover{
    background-color: #F6F6F6;
    color: #1E1D1D;
    border-radius: 0.6rem;
    letter-spacing: 0.1rem;
}

.precio{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.precio p{
    display: flex;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 500;
    color: #F6F6F6;
}

.precio p:nth-child(1){
    margin: 0rem 7rem;
}

.precio p:nth-child(2){
    margin-left: 5rem;
    margin-right: 5rem;
}

.precio p:nth-child(3){
    margin: 0rem 8.5rem;
}

.botones{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botones button{
    width: 7rem;
    height: 2.5rem;
    border-radius: 1.25rem;
    border: none;
    margin-top: 1.5rem;
    background-color: #DFD128;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.2rem;
    font-weight: 200;
    transition: all 0.6s;
}

.botones button:hover{
    cursor: pointer;
    background-color: #F6F6F6;
}

.botones a:nth-child(2){
    margin: 0rem 10rem;
}

.lentes_img{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.lentes_img img{
    width: 13rem;
    margin: 3rem 4rem;
}

.nombre_lentes{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.nombre_lentes h4{
    margin: 0rem 4rem;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.5rem;
    font-weight: 500;
    color: #F6F6F6;
    transition: all 0.6s;
}

.nombre_lentes h4:hover{
    background-color: #F6F6F6;
    color: #1E1D1D;
    border-radius: 0.6rem;
    letter-spacing: 0.1rem;
}

.precio_lentes{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.precio_lentes p{
    display: flex;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 500;
    color: #F6F6F6;
}

.precio_lentes p:nth-child(2){
    margin: 0rem 20rem;
}

.botones_lentes{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.botones_lentes button{
    width: 8rem;
    height: 2.5rem;
    border: none;
    border-radius: 1.25rem;
    margin: 3rem 7.5rem;
    background-color: #DFD128;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.2rem;
    font-weight: 200;
    transition: all 0.6s;
}

.botones_lentes button:hover{
    background-color: #F6F6F6;
    cursor: pointer;
}

.accesorios_img{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.accesorios_img img{
    width: 13rem;
    margin: 3rem 4rem;
}

.nombre_accesorios{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.nombre_accesorios h4{
    margin: 0rem 5.4rem;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.5rem;
    font-weight: 500;
    color: #F6F6F6;
    transition: all 0.6s;
}

.nombre_accesorios h4:hover{
    background-color: #F6F6F6;
    color: #1E1D1D;
    border-radius: 0.6rem;
    letter-spacing: 0.1rem;
}

.precio_accesorios{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.precio_accesorios p{
    display: flex;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 500;
    color: #F6F6F6;
}

.precio_accesorios p:nth-child(2){
    margin: 0rem 19rem;
}


.botones_accesorios{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.botones_accesorios button{
    width: 8rem;
    height: 2.5rem;
    border: none;
    border-radius: 1.25rem;
    margin: 3rem 7.2rem;
    background-color: #DFD128;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.2rem;
    font-weight: 200;
    transition: all 0.6s;
}

.botones_accesorios button:hover{
    background-color: #F6F6F6;
    cursor: pointer;
}

.contacto{
    width: 100%;
    height: 7rem;
    background-color: #F6F6F6;
    display: flex;
    flex-wrap: wrap;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
}

.contenedor_h4{
    width: 100%;
    display: flex;
    justify-content: center;
}

#contacto_h4{
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;
    font-weight: 500;
    color: #1E1D1D;
}

.contenedor_img {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.contacto img{
    width: 2rem;
    transition: all 0.5s;
}

.contacto img:hover{
    width: 3rem;
}

/* responsive laptop */

@media (max-width: 1024px){
    .foto_header{
        width: 75.1rem;
    }

    #principal{
        display: flex;
        justify-content: center;
        text-align: center;
        width: 74.9rem;
    }

    .img_z9{
        width: 74.9rem;
    }

    .img_z9 img{
        width: 60rem;
        height: 30rem;
    }

    #h3_imagenes{
        display: flex;
        justify-content: center;
        text-align: center;
        width: 74.9rem;
    }

    .hr_z9{
        width: 74.9rem;
    }

    .hr__z9{
        width: 74.9rem;
    }

    .z9_imagenes{
        width: 74.9rem;
    }

    .z9_imagenes img{
        width: 45rem;
        height: 48rem;
    }

    .z9_imagenes img:nth-child(2){
        width: 45rem;
        height: 40rem;
    }

    .camaras{
        width: 74.9rem;
    }
    
    .lentes{
        width: 74.9rem;
    }

    .accesorios{
        width: 74.9rem;
    }

    .contacto{
        width: 75rem;
    }
}

/* responsive tablet */

@media (max-width:768px){
    #titulo_nav{
        font-size: 2.5rem;
    }
    
    .navbar ul{
        display: none;
    }

    .menu{
        display: flex;
        align-items: center;
    }
    
    .label-menu{
        display: flex;
    }

    .cambio:checked ~ ul{
        display: flex;
        flex-direction: column;
        width: 10rem;

    }

    .icono-ham{

    }

    i:hover{
        animation: animacion 1s linear infinite;
        animation-direction: alternate;
    
    }

    @keyframes animacion{

        0%{
            transform: rotate(0deg);
        }

        100%{
            transform: rotate(90deg);
        }
    }

    .titulo_z9{
        font-size: 2rem;
    }    
}

@media (max-width:580px){
    .titulo_z9{
        font-size: 2rem;
        width: 75rem;
        display: flex;
        justify-content: center;
    }   
}

@media (min-width:425px){
    .img_z9 img{
        width: 55rem;
        height: 30rem;
    }
}

/* CSS LOGIN */

.contenedor_login{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.login{
    display: flex;
    width: 50%;
    height: 40%;
    justify-content: center;
    align-items: center;
    background-color: #F6F6F6;
    border-radius: 0.6rem;
    flex-wrap: wrap;
    box-shadow: 0px 0px 16px 4px rgba(69,64,64,0.75) inset;
    -webkit-box-shadow: 0px 0px 16px 4px rgba(69,64,64,0.75) inset;
    -moz-box-shadow: 0px 0px 16px 4px rgba(69,64,64,0.75) inset;
}

.contenedor_h2{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.contenedor_h2 h2{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 2rem;
    font-weight: 900;
    color: #1E1D1D;
}

.contenedor_usuario_pass{
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
}

.usuario{
    width: 100%;
    display: flex;
    height: 100%;
    justify-content:center;
    align-items: center;
    margin-bottom: 2rem;
}

.usuario label{
    font-family: 'Bebas Neue', cursive;
    font-size: 1.3rem;
    font-weight: 200;
    color: #1E1D1D;
    margin-right: 1rem;
}

.contraseña{
    width: 100%;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.1rem;
}

.contraseña label{
    font-family: 'Bebas Neue', cursive;
    font-size: 1.3rem;
    font-weight: 200;
    color: #1E1D1D;
    margin-right: 0.2rem;
}

#usuario{
    height: 2rem;
    border-radius: 1rem;
    border-color: black;
}

#contraseña{
    height: 2rem;
    border-radius: 1rem;
    border-color: black;
}

.contenedor_boton_submit{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton_entrar{
    width: 6rem;
    height: 1.5rem;
    border-radius: 20px;
    border: none;
    background-color: #DFD128;
    font-family: 'Bebas Neue', cursive;
    font-size: 1rem;
    font-weight: 200;
    transition: all 0.6s;
}

.contenedor_boton_submit button:hover{
    background-color: #1E1D1D;
    cursor: pointer;
    color: #DFD128;
}


.contenedor_crear{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.olvidaste{
    width: 100%;
    display: flex;
    height: 100%;
    justify-content:center;
    align-items: center;
    margin-bottom: 0.5rem;
}

.crear{
    width: 100%;
    display: flex;
    height: 100%;
    justify-content:center;
    align-items: center;
    margin-bottom: 0.5rem;
}

/* CSS CREAR USUARIO */

.contenedor_register{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.register{
    display: flex;
    width: 50%;
    height: 70%;
    justify-content: center;
    align-items: center;
    background-color: #F6F6F6;
    border-radius: 0.6rem;
    flex-wrap: wrap;
    box-shadow: 0px 0px 16px 4px rgba(69,64,64,0.75) inset;
    -webkit-box-shadow: 0px 0px 16px 4px rgba(69,64,64,0.75) inset;
    -moz-box-shadow: 0px 0px 16px 4px rgba(69,64,64,0.75) inset;
}

.contenedor_datos{
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
}

.nombre_usuario{
    width: 100%;
    display: flex;
    height: 100%;
    justify-content:left;
    align-items: center;
    margin-bottom: 2rem;
}

.nombre_usuario label{
    font-family: 'Bebas Neue', cursive;
    font-size: 1.3rem;
    font-weight: 200;
    color: #1E1D1D;
    margin-right: 1rem;
}

.register_contraseña{
    width: 100%;
    display: flex;
    height: 100%;
    justify-content: left;
    align-items: center;
    margin-bottom: 1.1rem;
}

.register_contraseña label{
    font-family: 'Bebas Neue', cursive;
    font-size: 1.3rem;
    font-weight: 200;
    color: #1E1D1D;
    margin-right: 0.1rem;
}

.repetir_contraseña{
    width: 100%;
    display: flex;
    height: 100%;
    justify-content: left;
    align-items: center;
    margin-bottom: 1.2rem;
    margin-top: 1.2rem;
}

.repetir_contraseña label{
    font-family: 'Bebas Neue', cursive;
    font-size: 1.3rem;
    font-weight: 200;
    color: #1E1D1D;
    margin-right: 0.1rem;
}

#repetir_contraseña{
    height: 2rem;
    border-radius: 1rem;
    border-color: black;
}

.email_usuario{
    width: 100%;
    display: flex;
    height: 100%;
    justify-content:left;
    align-items: center;
    margin-bottom: 2rem;
}

.email_usuario label{
    font-family: 'Bebas Neue', cursive;
    font-size: 1.3rem;
    font-weight: 200;
    color: #1E1D1D;
    margin-right: 1.9rem;
}

#email{
    height: 2rem;
    border-radius: 1rem;
    border-color: black;
}

.contenedor_boton_submit{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
}

.boton_crear{
    width: 8rem;
    height: 2rem;
    border-radius: 20px;
    border: none;
    background-color: #DFD128;
    font-family: 'Bebas Neue', cursive;
    font-size: 1rem;
    font-weight: 200;
    transition: all 0.6s;
    margin-bottom: 3rem;
}

.contenedor_boton_submit button:hover{
    background-color: #1E1D1D;
    cursor: pointer;
    color: #DFD128;
}
